<a href="https://colab.research.google.com/github/grinchr/Advent-of-code/blob/main/advent_of_code_day11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data = open('/content/data_day11.txt', 'r').read().split('\n\n')

In [2]:
test_data="""Monkey 0:
  Starting items: 79, 98
  Operation: new = old * 19
  Test: divisible by 23
    If true: throw to monkey 2
    If false: throw to monkey 3

Monkey 1:
  Starting items: 54, 65, 75, 74
  Operation: new = old + 6
  Test: divisible by 19
    If true: throw to monkey 2
    If false: throw to monkey 0

Monkey 2:
  Starting items: 79, 60, 97
  Operation: new = old * old
  Test: divisible by 13
    If true: throw to monkey 1
    If false: throw to monkey 3

Monkey 3:
  Starting items: 74
  Operation: new = old + 3
  Test: divisible by 17
    If true: throw to monkey 0
    If false: throw to monkey 1""".split('\n\n')

In [6]:
monkeys = {}
map = [lambda old : old * 11, lambda old : old + 4,  lambda old :old * 19, lambda old :old * old, lambda old :old + 1, lambda old : old + 3, lambda old :old + 8, lambda old :old + 7]

#map = [lambda old : old * 19, lambda old : old + 6,  lambda old :old * old, lambda old :old + 3]
import re
for m in data:
  m = m.split("\n")
  monkeys[m[0][:-1]] = {"items": re.findall(r'\d+', m[1]), 
                        #"operation": lambda old : eval(m[2].split("=")[-1]),
                        "operation": map[eval(m[0][-2])],
                        "test": eval(re.findall(r'\d+', m[3])[0]),
                        True: eval(re.findall(r'\d+', m[4])[0]),
                        False: eval(re.findall(r'\d+', m[5])[0])}
  monkeys[m[0][:-1]]['items'] = [eval(i) for i in monkeys[m[0][:-1]]['items']]


inspected = {}

N = 1
for m in monkeys:
  inspected[m] = 0
  N*=monkeys[m]["test"]




from tqdm import tqdm
for round in tqdm(range(20)):
  #print(f"round  {round}")
  for m in monkeys:
    #print(f"{m}:")
    #m = f"Monkey {t}"
    for item in monkeys[m]['items']:
      #print(f"  worry level of {item}")

      item = monkeys[m]['operation'](item)
      #print(f"  trans to {item}")
      item = item//3
      #print(f"  div by 3 to {item}")
      #print(item)
      bol =  item % monkeys[m]['test']== 0
      
      #print(f"  {item} is div by {monkeys[m]['test']} = {bol}")
      #print(f" sends {item} to {monkeys[m][bol]}")
      monkeys[f"Monkey {monkeys[m][bol]}"]["items"].append(item)
      #print("")
      inspected[m] += 1 
    monkeys[m]['items'] = []

for m in monkeys:
  pass
  #print(f"{m}{monkeys[m]['items']}")
print("")
print("after ",round+1)
for key, value in inspected.items():
  print(key,value)
sorted(inspected.values())[-1]*sorted(inspected.values())[-2]

100%|██████████| 20/20 [00:00<00:00, 17271.17it/s]

after  20
Monkey 0 192
Monkey 1 276
Monkey 2 201
Monkey 3 15
Monkey 4 257
Monkey 5 87
Monkey 6 138
Monkey 7 278

76728

In [7]:
monkeys = {}
map = [lambda old : old * 11, lambda old : old + 4,  lambda old :old * 19, lambda old :old * old, lambda old :old + 1, lambda old : old + 3, lambda old :old + 8, lambda old :old + 7]
for m in data:
  m = m.split("\n")
  monkeys[m[0][:-1]] = {"items": re.findall(r'\d+', m[1]), 
                        #"operation": lambda old : eval(m[2].split("=")[-1]),
                        "operation": map[eval(m[0][-2])],
                        "test": eval(re.findall(r'\d+', m[3])[0]),
                        True: eval(re.findall(r'\d+', m[4])[0]),
                        False: eval(re.findall(r'\d+', m[5])[0])}
  monkeys[m[0][:-1]]['items'] = [eval(i) for i in monkeys[m[0][:-1]]['items']]

inspected = {}

N = 1
for m in monkeys:
  inspected[m] = 0
  N*=monkeys[m]["test"]

print(N)


from tqdm import tqdm
for round in tqdm(range(10000)):
  for m in monkeys:
    for item in monkeys[m]['items']:
      item = monkeys[m]['operation'](item)
      item %= N
      bol =  item % monkeys[m]['test']== 0      
      monkeys[f"Monkey {monkeys[m][bol]}"]["items"].append(item)
      inspected[m] += 1 
    monkeys[m]['items'] = []

print("")
print("after ",round+1)
for key, value in inspected.items():
  print(key,value)
sorted(inspected.values())[-1]*sorted(inspected.values())[-2]

9699690

100%|██████████| 10000/10000 [00:00<00:00, 17412.27it/s]

after  10000
Monkey 0 132749
Monkey 1 146812
Monkey 2 142106
Monkey 3 21504
Monkey 4 137507
Monkey 5 20747
Monkey 6 43332
Monkey 7 146813

21553910156